.one {
    font-family: cursive ;
    background: red;
}

.two {
    font-family: monospace; 
    background: #003366;
}

.three {
    font-family: Arial;
    background: #00cc00;
}

.four {
    background: #ff0000;
    font-family: impact;
}

.five {
    background: #0066cc;
    font-family: verdana;
}

table, th, td {
    border-style:solid;
    color:blue;
}